2) Customer Support Workflow.json
{
  "name": "2) Customer Support Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c66452ef-4901-4ba9-85c7-f0c5c9f6cef9",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "hp0ZTxPHPHAFdN3u",
          "name": "Gmail account2"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "customer support",
              "description": "An email that is related to helping out a customer. They may be asking questions about our policies or questions about our products or services."
            },
            {
              "category": "other",
              "description": "Any email that is not support customer related."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "6d4dc7e9-82c4-4b7d-81ac-73d6f71ac709",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "1582b077-073e-4d7a-a543-84189a191f26",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "QzV8swpyF1kMgn7b",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        544,
        192
      ],
      "id": "732b1997-f199-430c-b3d1-928cb4c4793d",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=#Overview\nYou are a customer support agent for Tech Haven. your job is to respond to incoming emails with relevent information using your knowledgeBase tool.\n\n#Instructions\n-Your output should be friendly and use emojies.\n-Sign off as Mr.Helpful from Tech Haven solution.\n\n##Output\nOutput only the body content of the email."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        768,
        -128
      ],
      "id": "6af98dd7-4cce-4e57-ace8-d1a589ef87eb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        768,
        48
      ],
      "id": "d1f5e4fa-22d4-4f69-a327-9393c4257f84",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "QzV8swpyF1kMgn7b",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access policy and FAQ information",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        896,
        48
      ],
      "id": "b8cfb8ad-8a49-4dec-90bb-3892f4e3c6a1",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "WE6oVrISzzhrFCxf",
          "name": "Demo 4/2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        896,
        256
      ],
      "id": "c0d10e2c-c0e0-4868-905d-ad0414744791",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "7Gtt9zDx9w5WQouq",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1456,
        -128
      ],
      "id": "143096ed-1a86-4e3b-b6af-ed0a49e75223",
      "name": "Reply to a message",
      "webhookId": "8baa0990-dac6-434a-a327-b7b680599741",
      "credentials": {
        "gmailOAuth2": {
          "id": "hp0ZTxPHPHAFdN3u",
          "name": "Gmail account2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_5605098728116813210"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        -128
      ],
      "id": "480e46d9-b628-46dc-940e-cee8d3c70ba7",
      "name": "Add label to message",
      "webhookId": "c59de61d-9246-4623-b73c-f4bda8e9cb45",
      "credentials": {
        "gmailOAuth2": {
          "id": "hp0ZTxPHPHAFdN3u",
          "name": "Gmail account2"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19a773c2dc536779",
          "threadId": "19a773c2dc536779",
          "labelIds": [
            "UNREAD",
            "IMPORTANT",
            "CATEGORY_PERSONAL",
            "INBOX"
          ],
          "sizeEstimate": 16738,
          "headers": {
            "delivered-to": "Delivered-To: maryyana.engineer@gmail.com",
            "received": "Received: from mail-sor-f41.google.com (mail-sor-f41.google.com. [209.85.220.41])\r\n        by mx.google.com with SMTPS id 41be03b00d2f7-baff93cadbcsor5812072a12.1.2025.11.12.00.43.43\r\n        for <maryyana.engineer@gmail.com>\r\n        (Google Transport Security);\r\n        Wed, 12 Nov 2025 00:43:43 -0800 (PST)",
            "x-received": "X-Received: by 2002:a17:90b:384c:b0:33b:8ac4:1ac4 with SMTP id\r\n 98e67ed59e1d1-343ddf0cf3fmr3036997a91.35.1762937022460; Wed, 12 Nov 2025\r\n 00:43:42 -0800 (PST)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1762937023; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=Dl35ROW4Zx44Augr+U4U8Kve8KWEIYze2NeE+BTSLC7ZmM7lqJDFLFirGisz5+xa8K\r\n         M9q6lbhmIRSvFsxg+PzXzH6wmcqeo8q/eP+EYfbDr2FbYJWbKTwbEDugq9OW5LAQrcSo\r\n         x8E/xFyMAmBTlwom7lZvBQvZiwwe1zo51y3LAI7ZvyTqwpZTFIQoBPL3UhqYB6Kz9tI+\r\n         BuI04eAkcX3nszVR83wyxym6l6obgUc2REao+TNTF7albJ/VbFUdbeEWuxk9aNRRHrTx\r\n         igkfFhm/wYZMUlWCdCbs4bzyldFObuwG7fFx7TZ+yUAgYKOvPlXiidG9/47w6oZeDtJA\r\n         AvYA==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=to:subject:message-id:date:from:mime-version:dkim-signature;\r\n        bh=38GKEmm/ZWDnTH38jfZKfICQF7IJlP1CSydGk5Xa/9c=;\r\n        fh=/qug+OLAkVkKvrWo4KNAUQnAaLzAMpiJlsh0u6XCU5k=;\r\n        b=OCozyPT0rSiYZhOhu3a6E3lWgP3ySjm8YSzkGNN4twWPWam7900RtsF5G2W06Ab2+s\r\n         MLbVlBf+/Q4PNK0g7t0L1ON6i2QgMSceuhMMOEOQZIKnNAWwlrUnS+Dm43EUh1lBAX86\r\n         VloWgiGu0oB2VFoDqLOId0m37+1GxcaSVZdTnzfpSjsO7VWzU8mSec4DUwo4AgesE3G6\r\n         cbsQEKdb48ITSyow+tXuo8Hh+HaFk2a6kUaLWnhpPqhjAt16TliNNuMHngkY/HwlfBMe\r\n         fgiwgI1d78tsahSnMIUfQOU03WttjoW94llwYF5s0GTCJ7PRQipuuERI+naHC3nBZ1I/\r\n         7glg==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=DODGrRyM;\r\n       spf=pass (google.com: domain of roostaeianmaryam@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=roostaeianmaryam@gmail.com;\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=pass header.i=@gmail.com",
            "return-path": "Return-Path: <roostaeianmaryam@gmail.com>",
            "received-spf": "Received-SPF: pass (google.com: domain of roostaeianmaryam@gmail.com designates 209.85.220.41 as permitted sender) client-ip=209.85.220.41;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=DODGrRyM;\r\n       spf=pass (google.com: domain of roostaeianmaryam@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=roostaeianmaryam@gmail.com;\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=pass header.i=@gmail.com",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=gmail.com; s=20230601; t=1762937023; x=1763541823; dara=google.com;\r\n        h=to:subject:message-id:date:from:mime-version:from:to:cc:subject\r\n         :date:message-id:reply-to;\r\n        bh=38GKEmm/ZWDnTH38jfZKfICQF7IJlP1CSydGk5Xa/9c=;\r\n        b=DODGrRyMNjAiwwy68kaXGmd+Ev0kX6/GqW71kXOH33s1EMj8+8d7Qqq5l9xrZAkCur\r\n         kr/LNJUJJZ0GslgufBoK9qH7e870is8+yAxR74rqkcDdbyd18pOQStAhjTNU6GD0akHD\r\n         Tf0xAAuUjJBFk77OWNhXUxc+3Xgy4w4wZWokpOiEbwZJmGImfHY+xHuLjmS2NL0rrOBt\r\n         XvtTrMn15Fl3qeq5tVOrwMuWfEHcTpmIqcqxIXv50raHSo+YdJ81b0tCeXWHWw7vLP5E\r\n         Hiq/yLs5LuLhtK11MNUEyO3UllEKKqygaJp038Bq79r1+c/9U70A31qm3bKllpLrQF5T\r\n         LLGQ==",
            "x-google-dkim-signature": "X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=1e100.net; s=20230601; t=1762937023; x=1763541823;\r\n        h=to:subject:message-id:date:from:mime-version:x-gm-gg\r\n         :x-gm-message-state:from:to:cc:subject:date:message-id:reply-to;\r\n        bh=38GKEmm/ZWDnTH38jfZKfICQF7IJlP1CSydGk5Xa/9c=;\r\n        b=pRdqOkAv8LtDFHlK+myOgBPmJxIyHc/AADShMCt+DkfBTygOuhOm26oOuvtXBjvuF/\r\n         tZn2m2qq662nS7+u499aY7kx6I9Y7d2Gg90NvDMjTmiUhK1Z2raBwn/vLWUpsI1kGFm2\r\n         Gku6LdNkeoZJn/PhfI+i0A/Bta81rD+MuNVxpDFaR8nogzPl6KcX6U4e/kZ9dm5SavdN\r\n         poV6hSY1J9QkRKQVT/HPj9weo/ktpwpKuULkS6GLNAahK1S6D+IXEy25wQSIqeNGek5A\r\n         uGGcif/jayfoCV/QBN7Ayce9MjFjVmDpLOfK92vXBbaWYq+mfUipg/UQcowHBIVE0DDc\r\n         Mpvw==",
            "x-gm-message-state": "X-Gm-Message-State: AOJu0YxdZ4ihBItzciPNUyOYcT8yTlHKvvH1pwVdSt62OrZMSLz/i8P+\r\n\tSJNKoK0QHoqLBy2rgAgZGav6j9V1Y1LHvmIy0Fqxx9rzLGr8zIqB3VyPng4wHSxhqnPYnIhpK34\r\n\tSExlHrHjk8U/hWqcLSnOqYYW0RtNa67SLWOwOa8M=",
            "x-gm-gg": "X-Gm-Gg: ASbGncuScgZMJ0hc0N00XIkc26ero1SZOBeAk0LFg2U5b1WeV7MRWBmsxw82znP2nQ0\r\n\t9HXeEoqEG3+yc0JgpelLkIyn49x97hsP+Y25A+W9kf78TxQswtKr+UQhcl5AQyZXTIZNsfu6zrD\r\n\t1zInDeKqGg7ydvulZD3vwPt+pYHTOwBw171b7VbzWmopG/77LfqRSI1JeE0SSPb+89A2rVFHDU7\r\n\tnqji6OQS6CViGvn7Q6cj9UfQsJvahnz68az6Tq7moIu84WAQMJIS73gsGH9Vro=",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IEWyv1IT8/+B+KElnEoaQdc9vL5Qu8FEXq5TCNRVIR6hM3RboLuiWQjrXziynBSQInCUk3jChHW/hxxuofsRdQ=",
            "mime-version": "MIME-Version: 1.0",
            "from": "From: Maryam Roostaeian <roostaeianmaryam@gmail.com>",
            "date": "Date: Wed, 12 Nov 2025 12:13:30 +0330",
            "x-gm-features": "X-Gm-Features: AWmQ_bkZt8dtXbdf3-VVgiql13sFz8FmILlztgL51E3l6af5Oh8uxN7dVYunUeo",
            "message-id": "Message-ID: <CAL3OiQgprrRoNJcuoG+re=TnKFc0B9ysny-idWjFf=7VTOsBdg@mail.gmail.com>",
            "subject": "Subject: FAQ",
            "to": "To: \"maryyana.engineer@gmail.com\" <maryyana.engineer@gmail.com>",
            "content-type": "Content-Type: multipart/mixed; boundary=\"000000000000fc49fe064361c2ef\""
          },
          "html": "<div dir=\"auto\">What is the privacy policy? I am concerned about my data and my passwords!</div>\n",
          "text": "What is the privacy policy? I am concerned about my data and my passwords!\n",
          "textAsHtml": "<p>What is the privacy policy? I am concerned about my data and my passwords!</p>",
          "subject": "FAQ",
          "date": "2025-11-12T08:43:30.000Z",
          "to": {
            "value": [
              {
                "address": "maryyana.engineer@gmail.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:maryyana.engineer@gmail.com\" class=\"mp_address_email\">maryyana.engineer@gmail.com</a></span>",
            "text": "maryyana.engineer@gmail.com"
          },
          "from": {
            "value": [
              {
                "address": "roostaeianmaryam@gmail.com",
                "name": "Maryam Roostaeian"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Maryam Roostaeian</span> &lt;<a href=\"mailto:roostaeianmaryam@gmail.com\" class=\"mp_address_email\">roostaeianmaryam@gmail.com</a>&gt;</span>",
            "text": "\"Maryam Roostaeian\" <roostaeianmaryam@gmail.com>"
          },
          "messageId": "<CAL3OiQgprrRoNJcuoG+re=TnKFc0B9ysny-idWjFf=7VTOsBdg@mail.gmail.com>"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7f1aeec4-853b-4e9c-8100-4afffff276ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "baa2c052896865b5ae18899a7b5c7bdc3eaafcd625cacac83b70874388ce738f"
  },
  "id": "rmuP2LCf4n2NL26T",
  "tags": []
}