3) Linkedin content creator workflow.json
{
  "name": "3) Linkedin content creator workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -432,
        112
      ],
      "id": "e3ad5e3f-aec3-42c4-b768-4e8e530d83c9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        -96
      ],
      "id": "be4ea006-966b-451e-b5c6-2703035e64cd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CuZ0_5qK2-p4no7Ju1Wg9J5iIRybpxpU6nrMWYAHVx0",
          "mode": "list",
          "cachedResultName": "LinkedIn post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CuZ0_5qK2-p4no7Ju1Wg9J5iIRybpxpU6nrMWYAHVx0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CuZ0_5qK2-p4no7Ju1Wg9J5iIRybpxpU6nrMWYAHVx0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "To Do"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        -96
      ],
      "id": "21e49751-fd46-41e6-96fe-92e0b8e4b680",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "f6TpxwBhn7aC8SXs",
          "name": "Demo4/2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"search the web for {{ $json.Topic }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"time_range\": null,\n  \"start_date\": \"2025-02-09\",\n  \"end_date\": \"2025-12-29\",\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        -96
      ],
      "id": "798ec59c-8595-40db-a2ad-78595f6c7c2b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article 1: {{ $json.results[0].content }}\nArticle 2: {{ $json.results[1].content }}\nArticle 3: {{ $json.results[2].content }}",
        "options": {
          "systemMessage": "=Your role:\nYou are a professional LinkedIn Content Writer focused on delivering entrepreneurial insights. You will receive 3 articles and must create one concise, professional, and inspiring LinkedIn post tailored for entrepreneurs, founders, and business builders.\n\nGuidelines:\n\nWrite in a clear, concise, entrepreneurial tone—no fluff, no long explanations.\n\nThe post should feel actionable, motivating, and founder-focused.\n\nLength: 120–200 words (strictly concise).\n\nStart with a strong, insight-driven hook that resonates with entrepreneurs.\n\nSynthesize only the core lessons from the 3 articles—boil them down into value.\n\nUse short paragraphs and a clean, scannable structure.\n\nAdd relevant emojis to support key ideas (use sparingly).\n\nAdd 5–10 relevant hashtags at the end tailored to entrepreneurship, leadership, innovation, or business growth.\n\nDo not fabricate information—use ONLY the insights found in the articles.\n\nMaintain a voice that is:\n\nProfessional\n\nInspiring\n\nSolution-oriented\n\nFounder-focused\n\nOutput format:\nReturn one final LinkedIn post ready to publish."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        256,
        -96
      ],
      "id": "996823ca-3b2a-4215-8eaf-009febd9cbc7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3-haiku",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        256,
        64
      ],
      "id": "65c7363f-0005-4f18-ae55-b565337c777f",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "QzV8swpyF1kMgn7b",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1CuZ0_5qK2-p4no7Ju1Wg9J5iIRybpxpU6nrMWYAHVx0",
          "mode": "list",
          "cachedResultName": "LinkedIn post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CuZ0_5qK2-p4no7Ju1Wg9J5iIRybpxpU6nrMWYAHVx0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CuZ0_5qK2-p4no7Ju1Wg9J5iIRybpxpU6nrMWYAHVx0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Get row(s) in sheet').item.json.Topic }}",
            "Status": "created",
            "content": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        -96
      ],
      "id": "12123f03-f541-458a-bc01-a8aad54cec17",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "f6TpxwBhn7aC8SXs",
          "name": "Demo4/2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d44cd0a1-1ad8-4406-a683-2beeb86d2850",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "baa2c052896865b5ae18899a7b5c7bdc3eaafcd625cacac83b70874388ce738f"
  },
  "id": "V5edXUdaOtmxRaFF",
  "tags": []
}